<mat-list class="items-list">
  <mat-list-item *ngFor="let category of categories">
    <!-- TODO: add Angular Flex Layout -->
    <div class="item-content">
      <span>{{ category.name || "&lt;Empty Name&gt;" }}</span>
      <button mat-button (click)="deleteCategory(category)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
<mat-form-field>
  <mat-label>New Category Name:</mat-label>
  <input matInput [(ngModel)]="newCategoryName" />
  <button mat-button (click)="addCategory()">Add Category</button>
</mat-form-field>
